body {
    font-family: "Roboto", sans-serif;
    background-color: #3f424a;
    color: #fff;
    padding-left: 16px;
    padding-right: 16px;
    -moz-transform: scale(.9);
    -moz-transform-origin: 0 0;
    -webkit-transform: scale(.9);
    -webkit-transform-origin: 0 0;
    transform: scale(.9);
    transform-origin: 0 0
}

.inline {
    display: inline
}

.flex-container {
    display: flex
}

.flex-center {
    justify-content: center
}

.flex-row {
    flex-direction: row;
    flex-wrap: wrap
}

.flex-column {
    flex-direction: column
}

.flex-child {
    margin: 4px
}

#canvas-container {
    width: 600px;
    height: 600px;
    margin-left: 8px;
    margin-right: 8px
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: #000;
    border: 2px solid #a0a0a0;
    margin: 0;
    top: 0;
    left: 0;
    border-radius: 16px;
    cursor: pointer
}

#title {
    width: 600px;
    margin: auto
}

#parameters-outer {
    margin-left: 8px;
    margin-right: 8px;
    min-height: 650px
}

#parameters-inner {
    border: 2px solid #a0a0a0;
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 600px;
    background-color: #303338;
    padding-bottom: 8px;
    min-width: 250px;
    height: 100%
}

.header {
    text-align: center
}

.parameters-text {
    margin: 8px 8px 8px 32px
}

hr {
    margin: 0;
    height: 1px;
    background-color: gray;
    border: 0
}

.parameters-head {
    margin-left: 8px;
    margin-right: 8px
}

#update {
    border-width: 2px;
    cursor: pointer;
    width: 100%;
    color: #fff;
    padding: 6px 22px;
    margin-bottom: 12px;
    background-color: rgba(81, 81, 81, .5)
}

.input {
    color: #fff;
    padding: 6px 8px;
    border-color: #a0a0a0;
    border-style: solid;
    border-radius: 6px;
    box-shadow: 0 0 4px 0#303030 inset;
    background-color: #515151;
    cursor: text;
    word-wrap: break-word;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out
}

.input:focus {
    color: #bbff8d;
    font-weight: 900
}

.label {
    margin-right: 2px
}

.iblock {
    padding: 8px;
    width: 100%
}

.center {
    margin: auto;
    width: 100%
}

#console {
    margin-top: 12px;
    width: 866px;
    border: 2px solid #a0a0a0;
    border-radius: 16px;
    padding-left: 16px;
    padding-right: 16px;
    min-height: 200px;
    background: #191a1c
}

#console-p {
    text-align: left;
    word-wrap: break-word;
    color: #fff
}

#t {
    padding-bottom: 10px
}

#outputs .parameter-group .parameters-text {
    padding-bottom: 0
}

#outputs hr {
    margin-top: 14px
}

#r1 {
    height: fit-content !important
}

#canvas-xaxis {
    width: 600px;
    height: 50px;
    background-color: #1d1d1f;
    border: 2px solid #a0a0a0;
    border-radius: 16px;
    margin-top: 8px;
    margin-bottom: -8px;
    display: flex;
    flex: 0 1 auto;
    align-self: flex-end
}

#temporary-text {
    margin: auto
}

.tooltip {
    border-bottom: 2px dotted rgba(184, 184, 184, .153)
}

.tooltip .computation-tooltip,
.tooltip .states-tooltip {
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0, 0, 0, .5);
    width: auto;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    margin-left: 200px;
    z-index: 1;
    padding: 5px 16px;
    transition-duration: .2s
}

.tooltip .states-tooltip {
    margin-top: -50px
}

.tooltip:hover .computation-tooltip,
.tooltip:hover .states-tooltip {
    opacity: 1;
    visibility: visible;
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px)
}

.tooltip:hover .states-tooltip {
    margin-left: 170px
}

.tooltip .computation-tooltip::after,
.tooltip .states-tooltip::after {
    content: " ";
    position: absolute;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, .5) transparent transparent
}

.tooltip .states-tooltip::after {
    top: 35px
}

.tooltip .computation-tooltip {
    margin-top: -60px
}

.tooltip:hover .computation-tooltip {
    margin-left: 250px
}

.tooltip .computation-tooltip::after {
    top: 45px
}

.computation-tooltip p,
.states-tooltip p {
    font-size: 12px
}

#V {
    width: 200px;
    margin-left: 4px
}

#Vlabel {
    float: left
}

#potential::after,
#substep-tip::after {
    top: 20px
}

#FPS {
    margin-left: 120px
}

#substeps {
    position: relative;
    left: 76px;
    top: -18px
}

#substep-tip {
    margin-left: 125px
}

.reset-cursor {
    cursor: default
}

#src {
    width: 100%;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    line-height: 45px;
    transition-duration: .4s
}

#src:hover {
    color: #2daceb
}

#subrec {
    margin-top: -15px
}

#paused,
#start {
    cursor: pointer
}

#outputs .tooltip .parameters-text {
    margin-left: 24px
}

#start {
    position: relative;
    width: 300px;
    background-color: rgba(246, 37, 37, .62);
    padding: 12px 16px;
    border-radius: 8px;
    border: 2px solid #a0a0a0;
    box-shadow: 0 0 11px 0#370437
}

#start p {
    margin: 0;
    color: #fff;
    font-size: 16px;
    transition-duration: .5s
}

#start:active {
    background-color: rgba(135, 5, 5, .62)
}

#blurry {
    width: 100%;
    height: 150%;
    -webkit-backdrop-filter: blur(3px);
    -moz-backdrop-filter: blur(3px);
    backdrop-filter: blur(4px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(to right, rgba(10, 41, 66, .4)0, rgba(133, 113, 146, .33) 33%, rgba(137, 31, 57, .41) 100%)
}

#front {
    z-index: 3;
    position: relative
}

#info {
    margin-top: 12px
}

.link {
    color: #6bc5f5
}

.flex {
    flex: 0 0 600px
}